*{
	margin: 0;
	padding: 0;
}

html {
	background: #daeef0;
}

body {
	  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 100vh 150px;
}

.active {
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}

.header {
	background: #7cc9cf;
}

.header__text, .footer__text {
	text-align: center;
	text-transform: uppercase;
	padding: 2% 0 0 0;
}

.main { 
	display: grid;
	grid-template-columns: 1fr 1fr;
 }

.main__quiz_txt {
	text-align: center;
	padding: 20px 0 20px 0;
}

.img_class {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__images__content_pic {
	width: 520px;
	height: 211px;
	padding: 10px 0 10px 0;
}

.main__images__content_pic:hover {
	cursor: pointer;
	box-shadow: 5px 5px 2px 1px rgba(65,105,225, .2);
}

.main__buttons__content	{
	display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.main__button {
	height: 40px;
	width: 250px; 
	background: #7cc9cf;
	border: 1px solid #daeef0;
	border-radius: 20px;
}

.main__button:hover {
	cursor: pointer;
	background: #e227e5;
	border: 1px solid #88198a;
	color: white;
}

.main__button__text {
	text-align: center;
}

.result {
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 30px;
	color: rgba(0, 0, 255, .2);
	text-shadow: 0px 0px 1px black;
}

.main__result__info_dop {
	display: grid;
	grid-template-columns: 250px 1fr;
	padding: 5% 0 0 24%;
}

.main__quiz_quote {
	text-align: center;
	padding: 10px 50px 10px 50px;
	font-size: 18px;
}

.count_txt, .count {
	text-align: center;
	font-size: 18px;
}

#banner {
  width: 150px;
  height: 150px;
  position: relative;
  background: #daeef0;
  border: 1px solid #000;
  border-radius: 50%;
  overflow: hidden;
}
#banner::before {
  content: '';
  position: absolute;
  background: #7cc9cf;
  width: 100%;
  bottom: 0;
  animation: wipe 5s cubic-bezier(.2,.6,.8,.4) forwards;
}
@keyframes wipe {
  0% {
    height: 0;
  }
  100% {
    height: var(--element-height);
  }
}

.footer {
	background: #7cc9cf;
}

@media screen and (max-width: 1200px) {
	body {
	  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 145vh 150px;
    gap: 20px;
  }
	.main { 
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr;
	height: 110vh;
 }
}

@media screen and (max-width: 700px) {
body {
	  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 160vh 150px;
    gap: 20px;
  }
	.main { 
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	 }
	.main__result__info_dop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }
}

@media screen and (max-width: 520px) {
	body {
	  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 220vh 150px;
    gap: 20px;
  }
.main__images__content_pic {
	width: 320px;
	height: 130px;
	padding: 10px 0 10px 0;
}

.main { 
		display: grid;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr;
	 }
	.main__result__info_dop {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    padding: 0;
  }

  .main__watter_banner {
  	margin-top:  -40px;
  }
}
